frontend/react-antd-admin/node_moudules
frontend/react-antd-admin/node_modules/.bin/marked

backend/code/
backend/standalone/
backend/standalone/data
backend/standalone/data/configdb/
backend/standalone/data/db/
frontend/react-antd-admin/node_modules/
frontend/react-antd-admin/node_modules/.cache/
frontend/react-antd-admin/node_modules/jest-environment-jsdom/build/__mocks__/

